<div class="footer_wrapper">
    <footer id="footer" class="container">
        <div class="row footer-links">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <div class="vcard">
                    <h3 class="library-h3 fn" tabindex="0" aria-label="U.S. Capitol">U.S. Capitol</h3>
                    <p class="adr" tabindex="0" aria-label="room h154, washington, dc, 20515 6601">
                        <span class="street-address">Room H154</span><br>
                        <span class="region">Washington, DC</span><br>
                        <span class="postal-code">20515-6601</span><br>
                    </p>
                    <p class="tel"><a href="tel:(202)225-7000" aria-label="telephone: (202) 225 7000">p: (202) 225-7000</a></p>
                </div>
                <dl>
                    <dt>For general inquires:</dt>
                    <dd>
                        <a href="mailto:info.clerkweb@mail.house.gov" title="" aria-label="for general inquires, info.clerkweb@mail.house.gov">info.clerkweb@mail.house.gov</a>
                    </dd>
                    <dt>For general technical support:</dt>
                    <dd>
                        <a href="mailto:clerkweb@mail.house.gov" title="" aria-label="for general technical support, clerkweb@mail.house.gov">clerkweb@mail.house.gov</a>
                    </dd>
                    <dt>For HouseLive support:</dt>
                    <dd>
                        <a href="mailto:houselive@mail.house.gov" title="" aria-label="for houselive support, houselive@mail.house.gov">houselive@mail.house.gov</a>
                    </dd>
                </dl>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                <h3 class="library-h3" tabindex="0" aria-label="Legislative Information">Legislative Information</h3>
                <a href="@Url.Action("Index","FloorSummary")" title="Legislative Activity">Legislative Activity</a>
                @*<a tabindex="0" href="http://clerk.house.gov/floorsummary/floor.aspx" title="Legislative Activity" target="_blank">Legislative Activity</a>*@
        <a href="@Url.Action("Index","Votes")" title="Votes">Roll Call Votes</a>
        <a href="@Url.Action("Index","DischargePetition")" title="Discharge Petitions">Discharge Petitions</a>
        <a href="https://live.house.gov" title="HouseLive 2.0" target="_blank">HouseLive 2.0</a>
        <a href="http://houselive.gov" title="Video Archives" target="_blank">Video Archives</a>
        <a href="@Url.Action("Index", "SelectedMemorial")" title="Selected Memorials">Selected Memorials</a>

        <h3 class="library-h3" tabindex="0" aria-label="Member Information">Member Information</h3>
        <a href="@Url.Action("Index", "Members")" title="Member Profiles">Member Profiles</a>
        <a class="partial-view-link" href="@Url.Action("Index", "Members")#Leadership" title="Leadership">Leadership</a>
        <a href="http://history.house.gov/Institution/Election-Statistics/Election-Statistics/" title="Election Information" target="_blank">Election Information</a>
        <a class="partial-view-link" href="@Url.Action("Index", "Members")#Vacancies"  title="Current Vacancies">Current Vacancies</a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <h3 class="library-h3" tabindex="0" aria-label="Disclosures">Disclosures</h3>
        <a href="http://clerk.house.gov/public_disc/financial.aspx" title="Financial Disclosure Reports" target="_blank">Financial Disclosure Reports</a>
        <a href="http://clerk.house.gov/public_disc/foreign/index.aspx" title="Foreign Travel Reports and Expenditures" target="_blank">Foreign Travel Reports and Expenditures</a>
        <a href="http://clerk.house.gov/public_disc/franked.aspx" title="Franked Materials (Mass Mailings)" target="_blank">Franked Materials (Mass Mailings)</a>
        <a href="http://clerk.house.gov/public_disc/giftTravel.aspx" title="Gift Travel Filings" target="_blank">Gift Travel Filings</a>
        <a href="http://clerk.house.gov/public_disc/legal.aspx" title="Legal Expense Fund Disclosures" target="_blank">Legal Expense Fund Disclosures</a>
        <a href="http://clerk.house.gov/public_disc/ethics.aspx" title="Office of Congressional Ethics" target="_blank">Office of Congressional Ethics</a>
        <a href="http://clerk.house.gov/public_disc/postemployment.aspx" title="Post-Employment Notifications" target="_blank">Post-Employment Notifications</a>

        <h3 class="library-h3" tabindex="0" aria-label="About the Clerk">About the Clerk</h3>
        <a class="partial-view-link" href="@Url.Action("Index", "About")#OverviewContact" title="The Clerk of the House">Overview & Contact</a>
        <a class="partial-view-link" href="@Url.Action("Index", "About")#DutyOfClerk" title="Duties of the Clerk">Duties of the Clerk</a>
        <a class="partial-view-link" href="@Url.Action("Index", "About")#OfficeService" title="Offices and Services">Offices and Services</a>
        <a class="partial-view-link" href="@Url.Action("Index", "About")#HistoryOfOffice" title="History of the Office">History of the Office</a>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <h3 class="library-h3" tabindex="0" aria-label="Committee Information">Committee Information</h3>
        <a href="/committees" title="Committee Profiles">Committee Profiles</a>
        @*<a href="http://clerk.house.gov/committee_info/oal.aspx" title="Official Lists" target="_blank">Official Lists</a>
            <a href="http://docs.house.gov/Committee" title="Committee Repository" target="_blank">Committee Repository</a>*@

                <h3 class="library-h3" tabindex="0" aria-label="Clerk Sites">Clerk Sites</h3>
                <a href="http://docs.house.gov/floor" title="Bills This Week" target="_blank">Bills This Week</a>
                <a href="http://bioguide.congress.gov/biosearch/biosearch.asp" title="Bioguide" target="_blank">Biographical Directory</a>
                <a href="http://kids.clerk.house.gov" title="Clerk Kids" target="_blank">Clerk Kids</a>
                <a href="http://docs.house.gov/committee" title="Committee Repository" target="_blank">Committee Repository</a>
                <a href="http://history.house.gov" title="History" target="_blank">History, Art & Archives</a>

                <h3 class="library-h3" tabindex="0" aria-label="Help and Resources">Help & Resources</h3>
                @*<a href="#" title="Data/Api">Data / Api</a>
                    <a href="#" title="Tutorials/Resources">Tutorials / Resources</a>*@
                <a href="@Url.Action("Index","PrivacyPolicy")" title="Privacy Policy">Privacy Policy</a>
                @*<a href="http://clerk.house.gov/security-privacy.aspx" title="Privacy Policy" target="_blank">Privacy Policy</a>*@
    <a href="http://clerk.house.gov/legislative/legfaq.aspx" title="FAQs" target="_blank">FAQs</a>
    @*<a href="#" title="Feedback Form" target="_blank">Feedback Form</a>*@
            </div>
        </div>

        <div class="row footer-social">
            <div class="col-sm-12 col-md-8 col-lg-6 footer-social_logo">
                <a href="@Url.Action("Index", "Home")" title="Office of the Clerk, U.S. House of Representatives">
                    <img src="@Url.Content("~/Content/assets/img/clerk-logo-footer.svg")" title="Office of the Clerk, U.S. House of Representatives" alt="Office of the Clerk, U.S. House of Representatives" />
                </a>
            </div>
            @*<ul class="footer-social_links">
                  <li>
                    <a href="https://www.facebook.com/US-House-of-Representatives-181157455264843" title="Facebook" target="_blank">
                      <img src="@Url.Content("~/Content/assets/img/facebook-icon.png")" alt="Facebook">
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/housefloor" title="Twitter" target="_blank">
                      <img src="@Url.Content("~/Content/assets/img/twitter-icon.png")" alt="Twitter">
                    </a>
                  </li>
                  <li>
                    <a href="https://plus.google.com/100317017918197824323" title="Google+" target="_blank">
                      <img src="@Url.Content("~/Content/assets/img/google-icon.png")" alt="Google+">
                    </a>
                  </li>
                  <li>
                    <a href="@Url.Action("Feed", "Home")" title="RSS Feed" target="_blank">
                      <img src="@Url.Content("~/Content/assets/img/rss-icon.png")" alt="RSS">
                    </a>
                  </li>
                </ul>*@
        </div>
    </footer>
</div>