@using UsHouse.Models
@model UsHouse.Models.ViewMemberProfileModel

@{
    List<Member> memberList = Model.Members;
    if (Model == null)
    {
        <div class="api-warning">
            <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert" title="Alert Information">&times;</a>
                There was a problem with the Member Profile information.Please try again later.
            </div>
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <h1 class="library-h1" tabindex="0">Member Profiles</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-lg-10">
        <form class="library-form">
            <div class="form-group library-form_group members-list_search">
                <label for="search-member" class="visuallyhidden" aria-hidden="true">Search Member: </label>
                <input type="text" class="form-control library-form_control search" id="search-member" name="search-member" aria-label="Search Members by Name, District, or Keyword" placeholder="Search Members by Name, District, or Keyword">
            </div>
        </form>
    </div>
</div>
<div class="row" id="members-list-filter">
    <div class="col-md-12 members-list_tools">
        <h2 class="library-h2">All Members</h2>
        <div class="font-icon-usage member-list-icons">
            <a href="#MemberProfiles" data-view="ViewMemberProfiles"><span class="fa fa-th grid-view"></span></a>
            <a href="#MemberList"><span class="fa activeView fa-list-ul list-view"></span></a>
            <a href="#FindRepresentative" data-view="ViewFindRepresentative" style="margin-left:-5px;">
                <span class="detail-view">
                    <img src="~/Content/assets/img/mapicon.png" />
                </span>
            </a>
        </div>
        <nav class="library-pagination_v0">
            <div class="pagination_info"></div>
            <ul class="toppagination"></ul>
        </nav>
    </div>
    <div class="col-md-12">
        <table class="library-table table">
            <thead>
                <tr>
                    <th>
                        Representative
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        District
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Member member in memberList.OrderBy(x => x.sortName))
                    {
                        <tr>
                            <td>
                                <a onclick="getComputedUrl('/members/@member._id');" href="@Url.Action("../members/" + @member._id , "Members")" title="View Profile" class="library-link members-link" aria-label="@member.familyName, @member.givenName  @member.middleName , state: @member.congresses.First().stateCode , district: @member.congresses.First().stateDistrict , party: @member.congresses.First().partyAffiliations.First().name">
                                    <span data-name="@member.sortName">
                                        @member.familyName, @member.givenName  @member.middleName
                                        @if (!string.IsNullOrEmpty(member.honorificSuffix))
                                        {
                                            <text> </text>@member.honorificSuffix
                                        }
                                    </span>
                                    <span class="name" hidden>@member.sortName</span>
                                </a>
                            </td>
                            <td>
                                @member.congresses.First().stateCode
                            </td>
                            <td>
                                @if (member.congresses.First().stateDistrict.Length == 0)
                                {
                                    <text>Delegate</text>
                                }
                                else
                                {
                                    @member.congresses.First().stateDistrict;
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>


        </table>
    </div>
    <div class="col-md-12 border_top members-list_tools">
        <nav class="library-pagination_v0">
            <div class="pagination_info"></div>
            <ul class="bottompagination"></ul>
        </nav>
    </div>
</div>

