@using UsHouse.Service
    
    <div class="row">
    <div class="col-md-12">
        <h1 class="library-h1" tabindex="0">Leadership</h1>
        <p class="library-lead" tabindex="0" role="article">
            House leadership is elected every two years at the beginning of a new Congress. The Speaker of the House is elected by the entire membership of the House, and other majority party and minority party leaders are selected by members of each party&#39;s delegation. The Republican Conference is the formal organization of Republican Members in the House; the Democratic Caucus is the formal organization of Democratic Members.
        </p>
        <section class="leadership-box_hero col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <figure class="leadership-box-img photo-size_portrait">
                <img tabindex="0" src="@Url.Content("/content/assets/img/members/R000570.jpg")" alt="Photo of Rep. Paul D. Ryan" aria-label="photo of representative paul d ryan">
            </figure>
            <div class="leadership-box-copy">
                <h1 class="library-h1" tabindex="0" aria-label="representative paul d ryan, speaker of the house">Rep. Paul D. Ryan</h1>
                <p class="title" aria-hidden="true">Speaker of the House</p>
                <p role="article" tabindex="0">Elected by the entire membership of the House of Representatives, the Speaker presides over the House as its administrative head and serves as the leader of the majority party in the chamber.</p>
                <p class="links-group">
                    <a href="/members/R000570" title="View Profile" class="library-link">View Profile</a>
                    <a href="https://www.speaker.gov/" target="_blank" title="Visit Website" class="library-link">Visit Website</a>
                </p>
            </div>
        </section>

        <div class="row leadership">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 leadership-col republican">
                <h2 class="library-h2" tabindex="0">Republican Leadership</h2>
                <ul class="list-no_style">
                    <li class="leadership-box">
                        <figure class="leadership-box-img col-lg-12 photo-size_thumb">
                            <img  tabindex="0" src="@Url.Content("/content/assets/img/members/M001165.jpg")" alt="Photo of Rep. Kevin McCarthy" aria-label="photo of representative kevin mccarthy">
                            <figcaption class="leadership-box-bio">
                                <h3 class="library-h3" tabindex="0" aria-label="representative kevin mccarthy, majority leader">Rep. Kevin McCarthy</h3>
                                <p class="title" aria-hidden="true">Majority Leader</p>
                            </figcaption>
                        </figure>
                        <div class="leadership-box-copy col-lg-12">
                            <p tabindex="0" role="article">Elected by the Republican Conference, the Majority Leader helps plan the legislative agenda for the House and schedules legislative business.</p>
                            <p class="links-group">
                                <a href="/members/M001165" title="View Profile" class="library-link">View Profile</a>
                                <a href="https://www.majorityleader.gov/" target="_blank" title="Visit Website" class="library-link">Visit Website</a>
                            </p>
                        </div>
                    </li>
                    <li class="leadership-box">
                        <figure class="leadership-box-img col-lg-12 photo-size_thumb">
                            <img tabindex="0" src="@Url.Content("/content/assets/img/members/S001176.jpg")" alt="Photo of Rep. Steve Scalise" aria-label="photo of representative steve scalise">
                            <figcaption class="leadership-box-bio">
                                <h3 class="library-h3" tabindex="0" aria-label="representative steve scalise, majority whip">Rep. Steve Scalise</h3>
                                <p class="title" aria-hidden="true">Majority Whip</p>
                            </figcaption>
                        </figure>
                        <div class="leadership-box-copy col-lg-12">
                            <p tabindex="0" role="article">Elected by the Republican Conference, the Whip maintains communication between party leadership and members, builds Member support for the leadership's priorities, and informs and mobilizes Members on voting on key legislation.</p>
                            <p class="links-group">
                                <a href="/members/S001176" title="View Profile" class="library-link">View Profile</a>
                                <a href="https://www.majoritywhip.gov/" target="_blank" title="Visit Website" class="library-link">Visit Website</a>
                            </p>
                        </div>
                    </li>
                    <li class="leadership-box">
                        <figure class="leadership-box-img col-lg-12 photo-size_thumb">
                            <img tabindex="0" src="@Url.Content("/content/assets/img/members/M001159.jpg")" alt="Photo of Rep. Cathy McMorris Rodgers" aria-label="photo of representative cathy mcmorris rodgers">
                            <figcaption class="leadership-box-bio">
                                <h3 class="library-h3" tabindex="0" aria-label="representative cathy mcmorris rodgers, republican conference chair">Rep. Cathy McMorris Rodgers</h3>
                                <p class="title" aria-hidden="true">Republican Conference Chair</p>
                            </figcaption>
                        </figure>
                        <div class="leadership-box-copy col-lg-12">
                            <p tabindex="0" role="article">Elected by the Republican Conference, the Chairman presides over conference meetings.</p>
                            <p class="links-group">
                                <a href="/members/M001159" title="View Profile" class="library-link">View Profile</a>
                                <a href="https://www.gop.gov/leadership/house-republican-conference-chair/" target="_blank" title="Visit Website" class="library-link">Visit Website</a>
                            </p>
                        </div>
                    </li>
                    <li class="leadership-box">
                        <figure class="leadership-box-img col-lg-12 photo-size_thumb">
                            <img tabindex="0" src="@Url.Content("/content/assets/img/members/M001189.jpg")" alt="Photo of Rep. Luke Messer" aria-label="photo of representative luke messer">
                            <figcaption class="leadership-box-bio">
                                <h3 class="library-h3" tabindex="0" aria-label="representative luke messer, republican policy committee chairman">Rep. Luke Messer</h3>
                                <p class="title" aria-hidden="true">Republican Policy Committee Chairman</p>
                            </figcaption>
                        </figure>
                        <div class="leadership-box-copy col-lg-12">
                            <p tabindex="0" role="article">Elected by the Republican Conference, the Policy Committee Chairman helps formulate and promote Republican policy initiatives.</p>
                            <p class="links-group">
                                <a href="/members/M001189" title="View Profile" class="library-link">View Profile</a>
                                <a href="https://policy.house.gov/" target="_blank" title="Visit Website" class="library-link">Visit Website</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 leadership-col democratic">
                <h2 class="library-h2" tabindex="0">Democratic Leadership</h2>
                <ul class="list-no_style">
                    <li class="leadership-box">
                        <figure class="leadership-box-img col-lg-12 photo-size_thumb">
                            <img tabindex="0" src="@Url.Content("/content/assets/img/members/P000197.jpg")" alt="Photo of Rep. Nancy Pelosi" aria-label="photo of representative nancy pelosi">
                            <figcaption class="leadership-box-bio">
                                <h3 class="library-h3" tabindex="0" aria-label="representative nancy pelosi, democratic leader">Rep. Nancy Pelosi</h3>
                                <p class="title" aria-hidden="true">Democratic Leader (Minority Leader)</p>
                            </figcaption>
                        </figure>
                        <div class="leadership-box-copy col-lg-12">
                            <p tabindex="0" role="article">Elected by the Democratic Caucus, the Minority Leader directs the party's legislative strategies and operations and serves as a spokesperson for the minority party.</p>
                            <p class="links-group">
                                <a href="/members/P000197" title="View Profile" class="library-link">View Profile</a>
                                <a href="https://www.democraticleader.gov/" target="_blank" title="Visit Website" class="library-link">Visit Website</a>
                            </p>
                        </div>
                    </li>
                    <li class="leadership-box">
                        <figure class="leadership-box-img col-lg-12 photo-size_thumb">
                            <img tabindex="0" src="@Url.Content("/content/assets/img/members/H000874.jpg")" alt="Photo of Rep. Steny Hoyer" aria-label="photo of representative steny hoyer">
                            <figcaption class="leadership-box-bio">
                                <h3 class="library-h3" tabindex="0" aria-label="representative steny hoyer, democratic whip(minority whip)">Rep. Steny Hoyer</h3>
                                <p class="title" aria-hidden="true">Democratic Whip (Minority Whip)</p>
                            </figcaption>
                        </figure>
                        <div class="leadership-box-copy col-lg-12">
                            <p tabindex="0" role="article">Elected by the Democratic Caucus, the Minority Whip maintains communication between party leadership and members, builds Member support for the leadership's priorities, and informs and mobilizes Members on voting on key legislation.</p>
                            <p class="links-group">
                                <a href="/members/H000874" title="View Profile" class="library-link">View Profile</a>
                                <a href="http://www.democraticwhip.gov/" target="_blank" title="Visit Website" class="library-link">Visit Website</a>
                            </p>
                        </div>
                    </li>
                    <li class="leadership-box">
                        <figure class="leadership-box-img col-lg-12 photo-size_thumb">
                            <img tabindex="0" src="@Url.Content("/content/assets/img/members/C000537.jpg")" alt="Photo of Rep. James E. Clyburn" aria-label="photo of representative james e clyburn">
                            <figcaption class="leadership-box-bio">
                                <h3 class="library-h3" tabindex="0" aria-label="representative james e clyburn, assistant democratic leader(assistant minority leader)">Rep. James E. Clyburn</h3>
                                <p class="title" aria-hidden="true">Assistant Democratic Leader (Assistant Minority Leader)</p>
                            </figcaption>
                        </figure>
                        <div class="leadership-box-copy col-lg-12">
                            <p tabindex="0" role="article">Elected by the Democratic Caucus, the Assistant Democratic Leader works with congressional caucuses and is the leadership liaison to the Appropriations Committee.</p>
                            <p class="links-group">
                                <a href="/members/C000537" title="View Profile" class="library-link">View Profile</a>
                                <a href="https://assistantdemocraticleader.house.gov/" target="_blank" title="Visit Website" class="library-link">Visit Website</a>
                            </p>
                        </div>
                    </li>
                    <li class="leadership-box">
                        <figure class="leadership-box-img col-lg-12 photo-size_thumb">
                            <img tabindex="0" src="@Url.Content("/content/assets/img/members/C001038.jpg")" alt="Photo of Rep. Joseph Crowley" aria-label="photo of representative joseph crowley">
                            <figcaption class="leadership-box-bio">
                                <h3 class="library-h3" tabindex="0" aria-label="representative joseph crowley, democratic caucus chairman">Rep. Joseph Crowley</h3>
                                <p class="title" aria-hidden="true">Democratic Caucus Chairman</p>
                            </figcaption>
                        </figure>
                        <div class="leadership-box-copy col-lg-12">
                            <p tabindex="0" role="article">Elected by the Democratic Caucus, the Chairman presides over caucus meetings.</p>
                            <p class="links-group">
                                <a href="/members/C001038" title="View Profile" class="library-link">View Profile</a>
                                <a href="http://www.dems.gov/about/chairman/" target="_blank" title="Visit Website" class="library-link">Visit Website</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>